@import url('https://cdn.jsdelivr.net/npm/semantic-ui/dist/semantic.min.css');

body {
  font: 14px "Century Gothic", Futura, sans-serif;
}

.drawArea {
  width: 95%;
  margin-left: 5%;
  margin-top: 0;
  margin-right: 0;
  height: 100vh;
  border: 5px solid slateblue;
  float: left;
  cursor: crosshair;
}

.path {
  fill: none;
  stroke-width: 1px;
  stroke: black;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.drawing {
  width: 100%;
  height: 100%;
}

.ui.inverted.menu {
  background: slateblue;
}
