.drawArea {
  width: 90vw;
  margin-left: 10vw;
  margin-top: 0;
  margin-right: 0;
  height: 100vh;
  border: 3px solid royalblue;
  float: left;
  cursor: crosshair;
}

.path {
  fill: none;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.drawing {
  width: 100%;
  height: 100%;
}

.ui.inverted.menu {
  background: royalblue;
}

.ui.thin.left.sidebar {
  width: 10vw;
}

.canvasbox {
  position: fixed;
  z-index: 1;
  border-radius: 2px;
  right: 10px;
  bottom: 10px;
  width: 6vw;
  height: 4vw;
  float: right;
}

.border {
  border: 2px solid #000000;
}
